@font-face
  font-family 'glyphicons'
  src: '/fonts/glyphicons-halflings-regular.ttf' format('truetype')

html
  box-sizing border-box
  height 100%

  body
    display flex
    height 100%

    #content
      background-color #f8f8f8
      color #333
      flex 1

    #debug
      background-color #f0f0f0
      display none
      padding 1rem
      width 25rem

      table
        width 100%
        td
          width 50%
          &.key
            font-weight normal
          &.val
            text-align right
