h1
  font-size 8rem
  margin-top 10rem
  text-align center

.buttons
  margin 2rem
  text-align center

  button
    font-size 2rem
    margin 0 0.5rem
    width 15rem
    height 5rem

.banner
  color white
  text-align center

  .countdown, .ready, .not-ready
    display flex
    flex-direction column
    justify-content: center;
    align-items: center;
    height 25rem

  .countdown
    background-color #3498db
    display none
    font-size 18rem

  .ready
    background-color #2ecc71
    display none
    font-size 3rem

    .title
      font-size 5rem

    .key
      padding-right 1rem
      text-align right

    .value
      padding-left 1rem
      text-align left

  .not-ready
    background-color #e74c3c
    font-size 8rem
