doctype html

html

  head
    title racetimer
    link(rel="stylesheet", href="/css/thirdparty/bootstrap.min.css")
    link(rel="stylesheet", href="/css/base.css")
    block styles

  body
    #content
      block content
    
    #debug
      h4 GPS
      table.table.table-condensed.table-hover
        tr.timestamp
          td.key Timestamp
          td.val 0
        tr.latitude
          td.key Latitude
          td.val 0
        tr.longitude
          td.key Longitude
          td.val 0
        tr.timestamp-error
          td.key Timestamp Err
          td.val 0
        tr.latitude-error
          td.key Latitude Err
          td.val 0
        tr.longitude-error
          td.key Longitude Err
          td.val 0
      
      h4 Race
      table.table.table-condensed.table-hover
        tr.begins
          td.key Begins
          td.val 0
        tr.average
          td.key Average
          td.val 0
        tr.instant
          td.key Instant
          td.val 0
        tr.elapsed-duration
          td.key Duration
          td.val 0
        tr.elapsed-distance
          td.key Distance
          td.val 0
        tr.elapsed-count
          td.key Count
          td.val 0
        tr.remaining-distance
          td.key Remaining Dx
          td.val 0
        tr.remaining-duration
          td.key Remaining Tx
          td.val 0
        tr.remaining-offset
          td.key Offset
          td.val 0

    script(src="/js/thirdparty/jquery.min.js")
    script(src="/js/thirdparty/bootstrap.min.js")
    script(src="/js/thirdparty/socket.io.js")
    script(src="/js/thirdparty/moment.min.js")
    script(src='/js/thirdparty/numeral.js')
    script(src="/js/base.js")
    block scripts
