extends base

block content
	ol.breadcrumb
		li: a(href='/') Home
		li: a(href='/library') Library
		li: a(href='/library/new') New Profile

	#entry(data-id='#{profileId}')
		.header
			table
				tbody
					tr
						td Name
						td: input.name
					tr
						td Distance
						td: input.distance(type="number")
					tr
						td Target Speed
						td: input.targetSpeed(type="number")

			.buttons
				button#select.btn.btn-success Select
				button#saveHeader.btn.btn-primary Save Changes

		.path

block styles
	link(rel="stylesheet", href="/css/library.css")

block scripts
	script(src='/js/library-entry.js')