#content
	padding 1rem

#entry
	display flex
	flex-direction row
	align-items stretch

	.header
		padding 0.5rem

		td
			padding-bottom 0.5rem

			input
				margin-left 0.5rem

		.buttons
			margin-top 2rem
			text-align right

	.path
		background-color blue
		flex 1