#content
	display flex

.main
	flex 1
	text-align center
	
	.increase, .decrease
		font-size 10rem

	.value
		font-size 20rem

.sidebar
	padding 0.5rem 1rem
	width 30rem

	display flex
	flex-direction column

	.average, .instant, .remaining
		background #e8e8e8
		flex 1
		margin 0.5rem 0
		padding 1rem
		text-align center

		.value
			font-size 6rem