#content
	display flex
	flex-direction row
	align-items center

.wrapper
	width 100%

h1
	font-size 6rem
	text-align center

h2
	padding-top 1rem

#found, #notFound, #countdown
	color white
	display none
	font-size 2rem
	height 20rem
	margin-bottom 2rem
	text-align center

	table
		width 100%

#found
	background-color #27ae60

#notFound
	background-color #c0392b

#countdown
	background-color #27ae60

	.value
		font-size 14rem

.buttons
	text-align center

	.btn-group
		#library
			width 12rem
		#start, #stop
			width 15rem